@import url(flickity.css);
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
   
  body { font-family: sans-serif; }
   
  .gallery {
    background: #EEE;
  }
   
  .gallery-cell  img{
    width: 960px;
    height: 445.5px;
    margin-right: 10px;
    background: #8C8;
    /* counter-increment: gallery-cell; */
  }
   
  /* cell number */
  .gallery-cell:before  img{
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  